{
  "parser": "babel-eslint",
  "extends": ["standard"],
  "plugins": [
      "standard",
      "promise",
      "react",
      "react-native"
  ],
  "rules": {
      "no-tabs": "off",        
      "indent": ["error", "tab", { "SwitchCase": 1 }],
      "no-console": "warn",
      "no-var": "error",      
      "react/jsx-uses-react": "error",
      "react/jsx-uses-vars": "error",
      "react/jsx-tag-spacing": "error",
      "react-native/no-unused-styles": 2,
      "react-native/split-platform-components": 2,
      "react-native/no-inline-styles": 2,
      "react-native/no-color-literals": 2
  },
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    }
  }
}